---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/acme/widgets/issues?labels=syrus&state=open
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"number":42,"state":"open","title":"Add feature","labels":[{"name":"syrus"}]},{"number":43,"state":"open","title":"Skip me","labels":[{"name":"syrus"},{"name":"syrus-skip"}]},{"number":44,"state":"open","title":"PR not issue","labels":[{"name":"syrus"}],"pull_request":{"url":"https://api.github.com/repos/acme/widgets/pulls/44"}},{"number":45,"state":"closed","title":"Closed","labels":[{"name":"syrus"}]},{"number":46,"state":"open","title":"Already running","labels":[{"name":"syrus"}]}]'
  recorded_at: Mon, 01 May 2026 00:00:00 GMT
recorded_with: VCR 6.4.0
